body{
    background-color: #FEFAEF;
}

.out-container{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid{
    flex-direction: column;
}

.quiz-card{
    width: 30rem;
    background-color: #FEFAEF;
    border: unset;
}

.question-footer{
    border-top: 1px solid rgba(0,0,0,0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.quiz-answer-card:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
}

.bg-success, .bg-danger{
    color: white;
}

.width-100{
    width: 100%;
}

.text-center{
    text-align: center;
}

.padd{
    padding-top: 12px;
    padding-bottom: 12px;
}

.card-img-top{
    max-height: 350px;
    object-fit: contain;
}

.final-headline{
    font-size: 30px;
}

.button-row{
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

@media(max-width:400px){
    .card-img-top{
        max-height: 200px;
    }   

    .progress{
        --bs-progress-height: 0.5rem
    }
}

@media(max-width: 300px){
    .question-footer{
        flex-direction: column;
        gap: 10px;
    }
}